

/*container principal*/

.principal {
    background-color: 000000;
   
}

/* Resumo Expandido*/

.colunaEsquerda {
   
    width: 220px;
    height: 2314px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -36.04%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); 
}

.retangulo {
    background-color: #ED7839;
    width: 220px;
    height: 68px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.logo img {
    width: 90%;
}




/*Fim Resumo Expandido */

.colunaDireita {
    margin-left: 220px;
}


/* Header */
header {
    
    left: 0px;
    top: 0px;
    background: #FDF1EB;
}


/* Content */

.secondRow {
    
    
}

/* título do trabalho */
.titulo {

padding: 20px;

background-color: bisque;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 125%;


letter-spacing: 0.05em;

color: #ED7839;

}


.buttonsDiversos {
    background-color: yellow;
    padding: 20px;
}

.thirdRow {
    
    
}

.video {
    padding: 50px;
}

.detalhes {
    padding: 50px;
}

.resumo {
    padding: 50px;
}

.discussões {
    padding: 50px;
}


