



/* Resumo Expandido - Coluna Esquerda*/

.colunaEsquerda {
    width: 220px;
    height: 2314px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -36.04%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); 
}

.retangulo {
    background-color: #ED7839;
    width: 220px;
    height: 68px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.retangulo p {
   color: white;
   font-size: 30px;
   text-align: center;
   padding-top: 12px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
    
     
}

.logo img {
    width: 90%;
}

.list-group-item {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

/*Fim Resumo Expandido / Coluna Esquerda */



/* COLUNA DIREITA */

.colunaDireita {
    margin-left: 220px;
}

/* Header */

header {
    background: #FDF1EB;
    height: 87px;
}

.colHeader {
    padding-left: 36px;
    padding-top: 5px;
    
}

.um {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px; 
    color: #725C5C;
    line-height: 10px;
}

.dois {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px; 
    color: #725C5C;
    line-height: 16px;
    
}

.tres {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px; 
    color: #725C5C;
    line-height: 3px;
    
}

.languageButton {
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 3px; 
    width: 97px;
    height: 34px;  
    box-sizing: border-box;
}

.quatro, .cinco {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    text-align: right;
}

.bemVindo {
    margin-top: 25px;
}

.fotoHeader img {
    border-radius: 50%;
    width: 85%;
    margin-top: 20px;
}



/* Content */


/*SECOND ROW*/

.titulo {
padding-left: 36px;
padding-top: 15px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 125%;
letter-spacing: 0.05em;
color: #ED7839;
}

.citacao {
    margin-top: 10px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 25px;
    color: #ED7839;
}

.buttonsDiversos {
    padding: 15px;
}

.buttonsDiversos button {
    background: #ED7839;
    border-radius: 4px; 
    color: white;
}


/*THIRD ROW*/

.thirdRow img {
    width: 98%;
    
}

.video {
    padding-left: 36px;
}

.card-header {
    background-color: #FDF1EB;
    border-radius: 3px 3px 0px 0px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.detalhes p {
    font-family: Quicksand;
    font-weight: 400;
}

.notas {
    font-size: 12px;
    color: gray;
}





/*FIM THIRD ROW */


.resumo {
    margin-left: 24px;
    margin-top: 15px;
}

.resumo p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
}

.expandeResumo, .expandeResumo:hover {
    text-decoration: none;
    color:black;
}


.expansaoResumo {
    margin-top: -5px;
    margin-left: 24px;
    border-top: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
}

.borda {
    border-top: none;
}

.discussões {
    margin-left: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.discussões .card-body {
    text-align: center;
}

.discussões h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px; 
    color: #ED7839;
}

.icones {
    width: 500px;
    margin-left: 420px;
    margin-top: 50px;
    margin-bottom: -100px;
}
.icones img {
    width: 500px; 
}

.discussões p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #595959;
}

.divisoria {
    height: 0px;
    left: 16px;
    top: 1395px;
    border: 1px solid #E7E7E7;
}

.discussões buttom {
    width: 133px;
    height: 32px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    color: white;
}

.interno {
    margin-top: 15px;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.interno p {
    text-align: left;
}

.interno .seis {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #ED7839;
}

.interno .sete {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
}

.interno .oito {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.interno .nove {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
}


footer img {
    width: 90%;
}

.ghost {
    display:none;
}

/* Media Query

  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px

*/

@media (max-width: 1400px) {
    body {
        background-color: lightyellow;
    }

    .fotoHeader, .icones {
        display: none;
    }

    .cartaoDetalhes p {
        font-size: 13px;
    }

}

@media (max-width: 1300px) {
    body {
        background-color: rgb(207, 243, 207);
    }

    .um, .tres, .notas {
        display: none;
    }

    .dois {
        margin-top: 30px;
    }
    
}


@media (max-width: 1250px) {
    body {
        background-color: lightgoldenrodyellow;
    }

    .detalhesHeader, .citacao  {
        display: none;
    }

    .row {
        text-align: center;
    }

    .col {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    body {
        background-color: lightgrey;
    }


    .autores, .icones, .divisoria, .comentario, .doi {
        display: none;
    }

    .cartaoDetalhes p {
        font-size: 13px;
    }

    .dois {
        margin-left: 100px;
        font-size: 15px;
        font-weight: bold;
    }


    @media (max-width: 990px) {
        body {
            background-color: lightblue;
           
        }
        
        .final p {
            display: none;
        }

        .final img {
            width: 250px;
        }

       .cartaoDetalhes {
           margin-top: 15px;
           margin-left: 25px;
           width: 96%;
       }

       footer {
           padding-bottom: 15px;
       }

       .colunaEsquerda {
           visibility: collapse;
       }

       .ghost {
           display:inline;
          
           float: left;
       }

       

       .col {
          margin-left: -10px;
       }

      
    
        
    
}






/*
@media (max-width: 767.98px) {
    .colunaEsquerda {
      display:none;
    }
  }
*/

